<h1>Hola Esta es una lista de los productos</h1>

<table>
    <thead>
        <th>Producto</th>
        <th>Precio</th>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td><%= product["name"] %></td>
                <td><%= product["price"] %></td>
            </tr>
        <% end %>
    </tbody>
</table>